<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network">        
        <network
          host="smtp.gmail.com"
          port="587"
          defaultCredentials="false"
          userName ="unitysocialfund@gmail.com"
          password="Install_new23"
          enableSsl="true"
        />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>