@model List<DataModel.Log>

@{
    ViewBag.Title = "Index";
}

<table border="1">
    <tr>
        <th>Operation</th>
        <th>User</th>
        <th>Date</th>
    </tr>
    @foreach(var log in Model)
    {
        <tr>
            <th>@log.Coins</th>
            <th>@log.Group_User.User.Name</th>
            <th>@log.Date</th>
        </tr>
    }
</table>
