@model SocialFund.Models.GroupViewModel.AddUserToGroupViewModel

@{
    ViewBag.Title = "AddUserToGroup";
    Layout = "~/Views/Shared/Site.cshtml";
}

<h2>AddUserToGroup</h2>
<div>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>
                <div style="width:300px;">User</div>
            </th>
            <th>
                <div style="width:300px;">Action</div>
            </th>
        </tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <th>
                    <div style="width:300px;">@user.Name</div>

                </th>
                <th>
                    <div style="width:300px;">@Html.ActionLink("Add to group", "AddUserToGroupPost", new  {groupId = Model.Group.Id,userId = user.Id })</div>
                </th>
            </tr> 
        }
    </table>
</div>