@model DataModel.Group

@{
    ViewBag.Title = "CreateGroup";
    Layout = "~/Views/Shared/Site.cshtml";
}
<fieldset>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div> 
            <p>
                <input type="submit" value="Create Group" />
            </p>
    }
</fieldset>