@model SocialFund.Models.GroupViewModel.GroupIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Site.cshtml";
}
<div>
    <p>@Html.ActionLink("Create group","CreateGroup")</p>
@if (Model.MyGroups.Count > 0)
{
    <table align ="center" width ="300">
        <tr>
            <th>
                <div style="background-color:#ACFA58">
                My groups
                </div>
            </th>
        </tr>
        @foreach (var group in Model.MyGroups)
        {
            <tr>
                <th>
                    @Html.ActionLink(group.Name,"Index","Log",new {groupId = group.Id},null)
                </th>
            </tr> 
        }
    </table>
}
@if (Model.InvitedGroup.Count > 0)
{
    <table align ="center" width ="300">
        <tr>
            <th>
                <div style="background-color:#ACFA58">
                Invited groups
                </div>
            </th>
        </tr>
        @foreach (var group in Model.InvitedGroup)
        {
            <tr>
                <th>
                    @Html.ActionLink(group.Name,"Index","Log",new {groupId = group.Id},null)
                </th>
            </tr> 
        }
    </table>
}

</div>
